<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/change-password.css">
    <link rel="icon" href="assets/hotel-icon-page.png">
    <title>Change password</title>
</head>
<body>
    <main>
      <div class="image-container"></div>
      <form class="sign-in-form" action="/change-password" method="post">
            <h3>Change password</h3>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" required>
            <label for="password">New password</label>
            <input id="password" type="password" name="password" required>
            <label for="re-password">Reenter password</label>
            <input id="re-password" type="password" name="re-password" required>
            <input type="submit" name="sign-in-button" id="sign-in-button" value="Save">
            <a href="./home" class="back-button">Cancel</a>
            <div th:if="${error} != null">
   				<h2 class="show-message">Passwords must match</h2> 
   			</div>
   			<div th:if="${errorUsername} != null">
   				<h2 class="show-message">User not found</h2> 
   			</div>
   			<div th:if="${succesful} != null">
   				<h2 class="show-message succesful-message">Password changed succesfully.<br>Please login.</h2> 
   			</div>
        </form>
    </main>
</body>
</html>